<div class="container-bookings">
<h2> My Bookings</h2>
</div>

<% @places = [] %>

<% @bookings.each do |booking| %>
  <% @places << Place.find(booking.place_id) %>
<% end %>

<%= render "shared/card_container", places: @places%>
