<div class="footer">
  <div class="copyright">
    <p>&copy; <time datetime="2023">2023</time> Host&Ghost,Inc.</p>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
