<div class="container">
  <div class="cards">
    <div class="card-trip">
      <img src="https://www.verywellmind.com/thmb/IHvivNNhEEy8YBo1QL_9ahVE7d4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/low-angle-view-of-building-against-cloudy-sky-750507801-5bc50e0b46e0fb0058c9ef64.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Boo Manor</h2>
          <p>Step into the eerie embrace of our haunted house, where creaky floorboards, flickering candlelight,
          and ghostly whispers await your arrival.</p>
        </div>
        <h2 class="card-trip-pricing">€234,78</h2>
        <img src="https://i.pinimg.com/564x/f5/c8/ed/f5c8eded4d6174ebcf6ed3de287b983c.jpg" class="card-trip-user avatar-bordered" />
      </div>
    </div>

    <div class="card-trip">
      <img src=" "/>
      <div class="card-trip-infos">
        <div>
          <h2>Eclipse Manor</h2>
          <p>Explore the darkness within Eclipse Manor, where the sun never fully rises, and the eternal
          twilight casts an eerie glow upon the decaying walls, a haven for the restless spirits that dwell within.</p>

        </div>
        <h2 class="card-trip-pricing">€0</h2>
        <img src="https://i.pinimg.com/564x/f5/c8/ed/f5c8eded4d6174ebcf6ed3de287b983c.jpg" class="card-trip-user avatar-bordered" />
      </div>
    </div>

    <div class="card-trip">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbArp0UxFMN_BWymGrGxSoAWzBoR6VzVmZTQ&usqp=CAU" />
      <div class="card-trip-infos">
        <div>
          <h2>Misty Hollow Mansion</h2>
          <p>Unveil the secrets of Misty Hollow Mansion, where the fog creeps through the corridors,
          and every shadow holds a chilling tale of the past.</p>
        </div>
        <h2 class="card-trip-pricing">€2346,00</h2>
        <img src="https://i.pinimg.com/564x/f5/c8/ed/f5c8eded4d6174ebcf6ed3de287b983c.jpg" class="card-trip-user avatar-bordered" />
      </div>
    </div>

    <div class="card-trip">
      <img src="https://s1.at.atcdn.net/wp-content/uploads/2023/09/HEROMushroomTunnel.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Shadowed Abyss Tunnel</h2>
          <p>Plunge into the depths of the Shadowed Abyss Tunnel, where darkness reigns supreme, and the echoes of unseen horrors
          reverberate through its winding passages, daring you to venture further into the unknown.</p>
        </div>
        <h2 class="card-trip-pricing">€40</h2>
        <img src="https://i.pinimg.com/564x/f5/c8/ed/f5c8eded4d6174ebcf6ed3de287b983c.jpg" class="card-trip-user avatar-bordered" />
      </div>
    </div>

    <div class="card-trip">
      <img src="https://www.psdstack.com/wp-content/uploads/2015/10/Step-020a.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Haunted Forest Swing</h2>
          <p>Discover the mysteries of Whispering Pines Estate, where the ancient trees sway in the moonlight,
          and the house itself seems to murmur secrets to those who dare to listen. Say hi to Nicole, who has been stuck on the swing for over 100 years</p>
        </div>
        <h2 class="card-trip-pricing">€0,50</h2>
        <img src="https://i.pinimg.com/564x/f5/c8/ed/f5c8eded4d6174ebcf6ed3de287b983c.jpg" class="card-trip-user avatar-bordered" />
      </div>
    </div>

    <div class="card-trip">
      <img src="https://i.insider.com/616da9cb41af0d00193f1b33?width=700" />
      <div class="card-trip-infos">
        <div>
          <h2>Desolate Clown Manor</h2>
          <p>Enter the forsaken halls of Desolate Clown Manor, where faded laughter echoes through the empty rooms,
          and the eerie grins of forgotten jesters leer from cracked portraits, casting a sinister atmosphere over the once-vibrant abode.</p>
        </div>
        <h2 class="card-trip-pricing">€99.99</h2>
        <img src="https://bark-user-data.s3.eu-west-1.amazonaws.com/users/16296406/6231e43ef3503-1647436862.jpg" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  </div>
</div>
