<h1>Host&Ghost</h1>
<p>Nice places for ghosts, and only for ghosts</p>


<!-------------footer ------------->
<div class="footer">
  <div class="copyright">
    <small>&copy; <time datetime="2023">2023</time> Host&Ghost,Inc.</small>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
